body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at 50% 50%, rgb(0, 0, 103), rgb(5, 0, 24));;
    background-size: 200% 200%; /* make gradient bigger for movement */
    animation: aurora 20s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aurora {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo{
    width: 25vh;
    position: absolute;
    right: 155vh;
}

.nav{
    position: absolute;
    width: 28px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 15px;
    bottom: 92vh;
    left: 182vh;
}

.dest{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    transition: 0.3s;
}
.dest:hover{
    transform: scale(1.2);
}

.main{
    color: rgb(0, 213, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    transition: 0.3s;
}
.main:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
}
a p{
    white-space: nowrap;
}

/* -------- CONTACT PAGE LAYOUT -------- */

.contact-container{
    width: 120vh;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,213,255,0.3);
}

.left-box{
    width: 45%;
    color: white;
    font-family: 'Segoe UI';
}

.left-box h1{
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(0, 213, 255);
}

.left-box p{
    font-size: 18px;
}

.right-box{
    width: 40%;
    color: white;
    font-family: 'Segoe UI';
}

.right-box h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(0, 213, 255);
}

.contact-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.3s;
}

.icon:hover{
    transform: scale(1.1);
}

.contact-text{
    font-size: 18px;
}
